/* .row-cols-1{
  display: flex;
  justify-content: space-between;
} */

.wea{
  width: 750px;
  /* padding: 16px; */
  /* border: 1px solid black;
  border-radius: 8px; */
}
#wea{
  height: 255.2px;
}

.weaHeading{
  padding: 16px;
  background-color:  var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);;
}

.weaBody{
  height: 192px;
}
