/* * {
  margin: 0;
  padding: 0;
  background-color: black;
}

.heading {
  height: 50px;
  color: white;
  font-size: 30px;
  font-family: cursive;
  background-color: #232425;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
}

.box {
  height: 80vh;
  width: 100vb;
  margin: 37.5px 0px 37.5px 0px;
  background-color: #232425;
  border-radius: 10px;
}

.SearchBar {
  height: 50px;
  background-color: #232425;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#city {
  height: 50px;
  width: 200px;
  color: white;
  background-color: #232425;
  padding-left: 30px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  margin: 5px;
  background-color: #232425;
  padding-right: 30px;
}

input {
  background-color: white;
  border-radius: 40px;
  padding: 5px;
} */
